@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }

  h1,
  h2, 
  h3 {
    font-family: "Poppins", system-ui, sans-serif;
    font-weight: 500;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

button {
  @apply bg-cn-black p-1 py-2 px-6 text-cn-white rounded-full min-w-0 items-center flex justify-center; 
}

.container {
  @apply p-3
}

textarea,
input:not([type="checkbox"], [type="radio"]) {
  @apply rounded-3xl p-1 px-4;
}

/* input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"] {
  @apply rounded-full p-1 px-4
} */

label {
  @apply block
}

.logo-logged-out,
.profile-avatar {
  left: auto;
  top: -65px;
}

.profile-avatar {
  top: -80px;
}

@media screen and (min-width: 64rem) {
  .logo-logged-out {
    left: -88px;
    top: 40px;
  }
}

.alert {
  @apply py-1 px-2
}

.alert.error {
  @apply bg-red-300 font-semibold;
}

.alert.success {
  @apply bg-green-400 font-semibold;
}